<div class="photo-form-container">
  <h2>Evaluación de Fotografías</h2>

  <div *ngFor="let foto of fotografias; let i = index" class="photo-entry">
    <mat-card class="photo-card">
      <div class="photo-row">
        <img mat-card-image [src]="foto.link" [alt]="foto.titulo" class="image-placeholder" />

        <div class="photo-details">
          <mat-form-field appearance="fill" class="select-field">
            <mat-label>Evaluar</mat-label>
            <mat-select [value]="foto.estado">
              <mat-option *ngFor="let estado of estados" [value]="estado" class="option" (click)="seleccionarEstado(foto, estado)">
                {{ estado }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="info-group">
            <label class="descripcion-label">Título</label>
            <div class="descripcion-text">{{ foto.titulo }}</div>
          </div>

          <div class="info-group">
            <label class="descripcion-label">Descripción</label>
            <div class="descripcion-text">{{ foto.descripcion }}</div>
          </div>

          <div class="info-group">
            <label class="descripcion-label">Estado actual</label>
            <div class="descripcion-text">PENDIENTE</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
