html, body {
  background-color: #94b0d4 !important;
  margin: 0;
  padding: 0;
}

.shipping-card {
  width: 95%;
  margin: 20px auto;
  background-color: black;
  padding: 10;
}

.foto {
  position: relative;
  height: 20em;
  background-image: url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 3, 46, 0.67);
  border-radius: 10px;
}

#textImagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.1em;
  text-align: center;
}

.galeria-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.galeria-card {
  flex: 1 1 500px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.galeria-card img {
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.titulo {
  text-align: center;
}

.boton-votar-wrapper {
  display: flex!important;
  justify-content: center!important;
  gap: 1rem!important;
}


.boton-edit {
  background-color: #e4e738!important;
  color: rgb(44, 43, 43)!important;
  border-radius: 20px!important;
  font-weight: bold!important;
  transition: transform 0.2s ease!important;
  min-width: 100px;
}

.boton-delete {
  background-color: #a11a1a!important;
  color: white!important;
  border-radius: 20px!important;
  font-weight: bold!important;
  transition: transform 0.2s ease!important;
  min-width: 100px;
}

.boton-edit:hover {
  background-color: #e0e279!important;
  transform: scale(1.05)!important;
}

.boton-delete:hover {
  background-color: #b82d2d!important;
  transform: scale(1.05)!important;
}

.sin-fotos {
  text-align: center;
  margin-top: 2rem;
}

.btn-sinfotos{
  background-color: #2e78b0!important;
  color: #c5c4e3!important;
  border-radius: 0.5rem!important;
  font-weight: bold!important;
  transition: transform 0.2s ease!important;
  min-width: 100px;
}


mat-card-header {
  justify-content: center;
}

mat-card-title {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
}

mat-card-content {
  font-size: 0.95rem;
  color: #555;
  text-align: center;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .galeria-container {
    grid-template-columns: 1fr;
  }

  mat-card-image {
    height: 150px;
  }

  mat-card-title {
    font-size: 1.1rem;
  }
}
